header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;   
    height: 150px;   
    background-color: #012160;
    justify-content: flex-start;
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 100;

}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33.3%;
    background-color: #0032cd;
    z-index: -1;
}


header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 33.3%;
    background-color: #00692e;
    z-index: -1;
}

header h1 {
    text-align: left;
    transform: translateY(-65%)
}


header .Shadow-Outline {  
  color: #ddd201e9;
  text-shadow:
    -1px -1px 0 #0c6401,
     1px -1px 0 #0c6401,
    -1px  1px 0 #0c6401,
     1px  1px 0 #0c6401;
  font-size: 48px;
  font-family: monospace;
  transform: translateX(-60%);
}

.Outline {
  color: #ddd201e9;
  font-size: 60px;
  font-family: monospace;
  display: block;
  margin: 0 auto;
  text-shadow: 5px 5px 10px rgba(5, 65, 0, 0.9);
}

body {
    background-color: #ffffff;
    background-position: top;
    background-size: 100%;
    background-position-y: -13%;
    image-rendering: auto; 
    margin: 0;
}


.Navigation ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    
}

header .Navigation {
  display: flex;
  align-items: top; 
  justify-content: space-between; 
  padding: 10px 20px;
  position: relative; 

}
header .logo {
    position: relative;
    width: 120px;
    height: auto;
    order: -1;
    margin-top: -5px;
    margin-left: 18px;
    transform: translateY(5%);
    margin-right: 12px; 
}

header .container img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    width: 40px;
    height: auto;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    order: -1;
    gap: 0.3rem;
    transform: translateY(20px);
}

header .container img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    width: 40px;
    height: auto;
}

.Logo {  
    margin: 0 auto;
    width: 100px;
    height: auto;
    align-items: left;
    
}

.dropdown {
    position: relative;
}


body {
    background-color: #ffffff;

    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    background-position-y: -13%;
    image-rendering: auto; 
}


.dropbtn {
    
    background-color: #0c6401;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #ddd201e9;
    padding: 16px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    transform: translateX(15%);

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #00b020
}

.dropdown:hover .dropdown-content {
    display: block;
}

header .Navigation {
    display: flex;
  align-items: top; 
  justify-content: space-between; 
  padding: 10px 20px;
  position: relative;

}



header .logo {
    margin-left: 0;
    position: relative;
    width: 100px;
    height: auto;
    order: -1;
}

.Shadow-Outline {
  color: #ddd201e9;
  text-shadow:
    -1px -1px 0 #0c6401,
     1px -1px 0 #0c6401,
    -1px  1px 0 #0c6401,
     1px  1px 0 #0c6401;
  font-size: 48px;
  font-family: monospace;
}

.navbar {
    transform: translateX(15%);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00692e;
  transform: translateY(97%);

}

.navbar li {
  float: right;
}

.navbar a {
  display: block;
  color: #fff200;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px
}

.navbar a:hover {
  background-color: #111111;
}

.fixedBreak {
    margin-top: 20%;
}

.box {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 15px;
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    color: #000000e9;
}

.br  {
    margin-bottom: 15px;
}

.button {    
    background-color: #0c6401;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #ddd201e9;
    padding: 16px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 20px;
}

input {
    font-size: 19px;
    border-radius: 5px;

}

.inquiries {
    position: relative;
    transform: translateX(-2750%);
    margin-top: 10px;
    
}

